.backgammon-board {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 608px; /* Adjust the width as needed */
}

.backgammon-board-row {
  display: flex;
  gap: 8px;
}

/* Add a class to the second row to flip it horizontally */
.backgammon-board-row--flipped {
  transform: scaleX(-1); /* Flip the row horizontally */
}

/* Style for the bar container */
.backgammon-board__bar {
  display: flex;
  flex-direction: column; /* Display the bar vertically */
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: 50px; /* Same width as the points */
  height: 200px; /* Same height as the points */
  background-color: lightgray; /* Color for the bar background */
}

/* Style for the bear-off containers */
.backgammon-bear-off {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 40px;
  background-color: lightgray;
  border: 1px solid black;
}

/* Styling for the white bear-off */
.backgammon-bear-off--white {
  background-color: #f7f7f7;
}

/* Styling for the black bear-off */
.backgammon-bear-off--black {
  background-color: #444;
}

.backgammon-bear-off-piece {
  /* Styling for the pieces in the bear-off areas */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.backgammon-board__point {
  position: relative; /* Add relative positioning to the points container */
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 50px;
  height: 200px;
  background: linear-gradient(45deg, #eee 50%, #ccc 50%);
}

/* Add a divider between points 5 and 6 */
.backgammon-board__point--6::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 109%; /* Place the divider at the center */
  border-left: 3px solid red;
}

/* Add a divider between points 17 and 18 */
.backgammon-board__point--18::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 109%; /* Place the divider at the center */
  border-left: 3px solid red;
}

.backgammon-board__bar-piece {
  /* Styling for the pieces in the bar */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgammon-board__bar-piece--black {
  background-color: black;
}

.backgammon-board__bar-piece--white {
  background-color: white;
}


.backgammon-board__piece {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgammon-board__piece--black {
  background-color: black;
}

.backgammon-board__piece--white {
  background-color: white;
}
